.content{
    /*font-family: "Museo Slab";*/
    font-family: "Helvetica";
    /*color: #F6F6E8;*/
    /*color: #100F0E;*/
    color: #100F0E;
}

table {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 150%;
}

tr{
    border-radius: 2px;
}

td, th {
    padding: 0.25em 0.5em;
    text-align: left;
}


tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    /*background-color: rgba(129,208,177,.3);*/
    transition: all .125s ease-in-out;
}

body th {
    /*background-color: #95a5a6;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}